.button {
  position: relative;
  display: inline-block;
  padding: 5px $spacer-3;
  font-size: $body-font-size;
  font-weight: $font-weight-semibold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $border-width $border-style;
  background-color: #f6f8fa;
  border-color: var(--color-btn-hover-border, #1b1f2426);
  border-radius: $border-radius;
  text-align: center;
  appearance: none;
  &--primary {
    color: var(--color-btn-primary-text, #ffffff);
    background-color: var(--color-btn-primary-bg, #2da44e);
    border-color: var(--color-btn-primary-border, #1b1f2426);
    box-shadow: var(--color-btn-primary-shadow, 0 1px 0 rgba(27, 31, 36, 0.1)),
      var(--color-btn-primary-inset-shadow, 0 1px 0 rgba(27, 31, 36, 0.1));
    &:hover,
    &.hover,
    [open] > & {
      background-color: #2c974b;
      border-color: #1b1f2426;
    }

    &:active,
    &.selected,
    &[aria-selected="true"] {
      background-color: #2c974b;
      border-color: #1b1f2426;
    }

    &:disabled,
    &.disabled,
    &[aria-disabled="true"] {
      color: var(--color-btn-primary-disabled-text);
      background-color: var(--color-btn-primary-disabled-bg);
      border-color: var(--color-btn-primary-disabled-border);

      .octicon {
        color: var(--color-btn-primary-disabled-text);
      }
    }

    &:focus,
    &.focus {
      background-color: #2c974b;
      border-color: #1b1f2426;
    }
    & .octicon {
      fill: var(--color-bg-default);
      margin-left: 4px;
      margin-right: 4px;
    }
  }
  &--link {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    color: var(--color-accent-fg);
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 0;
    appearance: none; // Corrects inability to style clickable `input` types in iOS.

    &:hover {
      text-decoration: underline;
    }

    &:disabled,
    &[aria-disabled="true"] {
      &,
      &:hover {
        color: var(--color-fg-disabled);
        cursor: default;
      }
    }
  }
  &--block {
    display: block;
    width: 100%;
    text-align: center;
  }
  &--sm {
    padding: 3px 12px;
    font-size: $font-size-small;
    line-height: 20px;
    .octicon {
      vertical-align: text-top;
    }
  }
  & .dropdown__caret {
    margin-left: 4px;
    margin-bottom: 0px;
    opacity: 0.8;
  }
}

.button-group {
  display: inline-block;
  vertical-align: middle;
  @include clearfix();

  + .button-group,
  + .button {
    margin-left: $spacer-1;
  }
  &__item {
    position: relative;
    float: left;
    border-right-width: 0;
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-right-width: $border-width;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &.selected,
    &[aria-selected="true"],
    &:focus,
    &:active,
    &:hover {
      border-right-width: $border-width;

      + .button-group__item,
      + .button-group__parent .button-group__item {
        border-left-width: 0;
      }
    }
  }
  &__parent {
    float: left;

    &:first-child .button-group__item {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child .button-group__item {
      border-right-width: $border-width;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    .button-group__item {
      border-right-width: 0;
      border-radius: 0;
    }

    &.selected,
    &[aria-selected="true"],
    &:focus,
    &:active,
    &:hover {
      .button-group__item {
        border-right-width: $border-width;
      }

      + .button-group__item,
      + .button-group__parent .button-group__item {
        border-left-width: 0;
      }
    }
  }
  &__item,
  &__parent {
    &:focus,
    &:active {
      z-index: 1;
    }
  }
}

.link {
  color: var(--color-accent-fg);
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &--primary {
    color: var(--color-fg-default);

    &:hover {
      color: var(--color-accent-fg);
      background-color: #2c974b;
      border-color: #1b1f2426;
    }
  }
  &--secondary {
    color: var(--color-fg-muted);

    &:hover {
      color: var(--color-accent-fg);
    }
  }
  &--muted {
    color: var(--color-fg-muted);

    &:hover {
      color: var(--color-accent-fg);
      text-decoration: none;
    }
  }
  &--on-hover {
    &:hover {
      color: var(--color-accent-fg);
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &--secondary,
  &--primary,
  &--muted {
    &:hover [class*="color-fg"] {
      color: inherit;
    }
  }
  &__auth {
    display: flex;
    height: 100vh;
  }
}

.dropdown {
  &__caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-bottom: 4px;
  }
}

.paginate-container {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

// TEMPORARY
h3 {
  font-size: 20px;
  font-weight: 600;
}
